<div class="form-group">
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <label class="control-label">Active player</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="vm.player.uid" placeholder="enter player uid (ex 2521)">
                <span class="input-group-btn">
                    <button data-ng-attr-id="playerBtn" class="btn btn-default" ng-click="vm.getPlayer(vm.player, 'playerBtn')" type="button">Get</button>
                </span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <label class="control-label"><i class="fa fa-calendar"></i>Attack time</label>
            <div class="input-group">
                <input class="form-control" ng-model="vm.landTime" data-date-format="yyyy-MM-dd" data-min-date="today" data-autoclose="1" placeholder="Date" bs-datepicker type="text">
                <input class="form-control" ng-model="vm.landTime" data-time-format="H:mm:ss" data-autoclose="1" placeholder="Time" bs-timepicker type="text">
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <label class="control-label">Unit speed</label>
            <input class="form-control" ng-model="vm.unitSpeed" placeholder="speed" type="text">
            <label class="control-label">Tournament</label>
            <input class="form-control" ng-model="vm.tournament" placeholder="100" type="text">
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <label class="control-label">Target player</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="vm.targetPlayer.uid" placeholder="enter target uid (ex 2521)">
                <span class="input-group-btn">
                    <button data-ng-attr-id="targetBtn" class="btn btn-default" ng-click="vm.getPlayer(vm.targetPlayer, 'targetBtn')" type="button">Get</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>X</th>
                        <th>Y</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="village in vm.player.villages" ng-click="vm.setSelectedVillage(village)" ng-class="{'table-selected': village.did === vm.selectedVillage.did}">
                        <td>{{ village.name }}</td>
                        <td>{{ village.x }}</td>
                        <td>{{ village.y }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in vm.distances">
                        <td>{{ d.distance }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Time to launch</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in vm.distances" ng-class="{'expired': vm.hasExpired(d.launchTime) }">
                        <td>{{ d.formattedLaunchTime }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>X</th>
                        <th>Y</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="village in vm.targetPlayer.villages" ng-click="vm.setSelectedTargetVillage(village)" ng-class="{'table-selected': village.did === vm.selectedTargetVillage.did}">
                        <td>{{ village.name }}</td>
                        <td>{{ village.x }}</td>
                        <td>{{ village.y }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
